extends layout

block content

  h1 #{title}: #{book.title}
  
  if book_instances.length
  
    p Delete the following copies before attempting to delete this Book. There cant be instances of a book that doesn't exist.
  
    div

      h4 Copies
    
        each books in book_instances
          h4 ID: #{books._id}

          p #[strong Title:]
            a(href=books.book.url) #{books.book.title}
          p #[strong Imprint:] #{books.imprint}

          p #[strong Status:]
          if books.status=='Available'
            span.text-success #{books.status}
          else if books.status=='Maintenance'
            span.text-danger #{books.status}
          else
            span.text-warning #{books.status}

          if books.status!='Available'
            p #[strong Due back:] #{books.due_back_formatted}

  else
    p Do want to delete this Book? It will be gone forever!
    
    form(method='POST' action='')
      div.form-group
        input#id.form-control(type='hidden',name='id', required='true', value=book._id )

      button.btn.btn-primary(type='submit') Delete